/*デート個別ページ用のCSS*/

.user-image-sp img{
  width: 150px;
  height:150px;
}

.tweet-image-sp img{
  width: 320px;
}

.sidebar-image-sp img{
  width:100%;
}

.carousel-image-sp img{
  width: 320px;
}

.comment-image-sp img{
 width: 80px;
 height: 80px;
}


/*カップル個別ページ用のCSS*/

.user-image-top-sp img{
  width: 130px;
  height:130px;
}

.couple-table-sp>tbody>tr>td{
 font-size: 10px;
}

.user-image-side-sp img{
  width: 140px;
  height:140px;
}
